<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/public/assets/favicon/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ChatGPT Clone</title>
  <link rel="stylesheet" href="/public/assets/style/style.css" />
  <link rel="stylesheet" href="/public/assets/bot.svg" />
  <link rel="stylesheet" href="/public/assets/user.svg" />
</head>

<body>
  <div id="app">
    <div id="chat_container"></div>
    <!-- make the form work only when i click the submit -->
    <form onsubmit="return false">
      <textarea name="prompt" rows="1" cols="1" placeholder="Ask Anything..."></textarea>
      <button type="submit"><img src="/public/assets/send.svg" alt="send" /></button>
    </form>
  </div>

  <script src="/public/assets/js/script.js"></script>
</body>

</html>